.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.baseBoard {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 420px;
  background-color: #c6c6c6;
  border: solid;
  border-color: #fff #808080 #808080 #fff;
  border-width: 10px;
  box-shadow:
    rgb(17 17 26 / 10%) 1px 8px 24px,
    rgb(17 17 26 / 10%) 1px 16px 56px,
    rgb(17 17 26 / 10%) 1px 24px 80px;
}

.board {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  margin-top: 20px;
  border: solid;
  border-color: #808080 #fff #fff #808080;
  border-width: 10px;
}

.cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #818181;
}

.image {
  display: flex;
  width: 22px;
  height: 22px;
  background: url('~/src/assets/image/iconsS.png') no-repeat;
}

.resetBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  background-color: #7f7f7f;
}

.faceImage {
  display: flex;
  width: 20px;
  height: 20px;
  background: url('~/src/assets/image/iconsS.png') no-repeat;
}

.numberBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  font-size: 20px;
  color: #b61e1e;
  background-color: #000;
}

.topBoard {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 70px;
  background-color: #c0c0c0;
  border: solid;
  border-color: #808080 #fff #fff #808080;
  border-width: 10px;
}

.choceLevel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 80px;

  /* border: solid; */
}

.levelStrings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: #9436ff;
}

.choceLevel :hover {
  color: #816e96;
}

.settingCustomBox {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 75px;
  font-size: 8px;
}

.settingCustomBox :active {
  background-color: #818181;
  border-color: #808080;
}

.input {
  width: 80px;
}

.reload {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  background-color: #c6c6c6;
  border: solid;
  border-color: #fff #808080 #808080 #fff;
  border-width: 5px;
  box-shadow:
    rgb(17 17 26 / 10%) 1px 8px 24px,
    rgb(17 17 26 / 10%) 1px 16px 56px,
    rgb(17 17 26 / 10%) 1px 24px 80px;
}
